.areas {

   &__container {
      padding: rem(100) 0;

      @media (max-width: $mobile) {
         padding: rem(145) 0 rem(100) 0;
      }
   }

   &__header {
      h2{
         @media (max-width: $mobile) {
            padding: 0 rem(60);
         }
      }
   
      p {
         @media (max-width: $mobile) {
            padding: 0 rem(110);
         }
      }
   }
}


.areas-cards {
   margin-top: rem(80);
   display: flex;
   justify-content: space-between;

   @media (max-width: $tablet) {
      flex-direction: column;
      align-items: center;
      gap: rem(30);
      margin-top: rem(75);
   }
}

.areas-card {
   width: rem(325);
   height: rem(147);
   display: flex;
   flex-direction: column;
   gap: rem(10);
   align-items: center;
   justify-content: center;
   background-color: $secondary-color-3;
   box-shadow: 0px rem(13) rem(19) rgba(0, 0, 0, 0.07);
   border-radius: rem(5);
   transition: all 0.5s ease;

   &:hover {
      transform: scale(1.2)
   }

   &__title {
      font-family: 'Martel';
      font-weight: 700;
      font-size: rem(16);
      line-height: math.div(24, 16);
      letter-spacing: rem(0.1);
   }
}

.card-blue {
   background-color: $secondary-color-4;
   color: $light-text-color;
}